@media all and (max-width:1140px){
	.container{
		width:95%;
		margin: auto;
	}
}

@media all and (max-width: 990px){
	.header-top{
		flex-direction: column;
	}
	.works-items{
		grid-template-columns: repeat(3,33.33%);
		grid-template-rows: auto auto auto;
	}
}
@media all and (max-width: 800px){
	.contact{
		flex-direction: column;
	}
	.contact-right{
		padding-left: 0;
		order:-1;
	}
	.contact-left{
		margin-top: 3rem;
	}
}
@media all and (max-width: 767px){
	.menu ul {
		flex-direction: column;
		text-align: center;
	}
	.banner-area{
		padding:5rem 0 6.5rem 0;
	}

	.story{
		flex-direction: column;
	}
	.story-right,.story-left{
		flex: 0 0 100%;
		text-align: center;
	}
	.story-right{
		margin-top: 2rem;
	}
	.watch-area{
		padding:10rem 0;
	}

	/*Expertise area*/
	.ex-item{
		flex: 0 0 calc(100% / 2);
	}
	.ex-item:nth-child(even){
		border-right:0.1rem solid transparent;
	}
	.ex-item:nth-child(4){
		border-bottom:0.1rem solid #ebebeb;
	}
	.ex-item:nth-child(3){
		border-right:0.1rem solid #ebebeb;
	}

	/*Team Member Area*/
	.team-members{
		grid-template-columns:repeat(2,calc(50% - 0.75rem));
		grid-row-gap: 2rem;
	}

	.works-items{
		grid-template-columns: repeat(2,50%);
		grid-template-rows: auto auto auto;
	}
	.testimonials{
		width: 90%;
	}
	.testi-item p{
		width: 100%;
	}

	.footer-item{
		flex:0 0 100%;
		margin-bottom: 3rem;
		text-align: center;
	}
	.footer-item:first-child p{
		margin: auto;
		margin-top: 2rem;
	}
	.footer-item > ul > li{
		margin:auto;
		margin-bottom: 2rem;
	}

	.subscribe form{
		max-width: 30rem;
		margin:auto;
	}
	.subscribe input[type="email"]{
		width:64%;
	}
	.social ul{
		justify-content: center;
	}

}



@media all and (max-width: 550px){
	h1{
		font-size:2.5rem;
		line-height:3rem;
	}
	.banner-area a {
		margin-top: 1rem;
		margin-bottom: 4rem;
	}

	.ex-item{
		flex: 0 0 100%;
		border:none !important;
	}

	/*Team Member Area*/
	.team-members{
		grid-template-columns:100%;
		grid-row-gap: 2rem;
	}

	.works-items{
		grid-template-columns: 100%;
	}
	
	.works-header{
		flex-direction: column;
		text-align: center;
	}
	
	.works-header h2{
		margin-bottom: 2rem;
	}

	.testi-dots ul li img {
		width: 100%;
	}
	.footer-bottom{
		justify-content: center;
	}

}

@media all and (max-width: 450px){
	.our-clients{
		grid-template-columns: auto;
		justify-content: center;
	}
	.contact-area h2{
		text-align: center;
	}
	.client ,.input-item{
		text-align: center;
	}

	.footer-item:first-child p,
	.footer-item > ul > li{
		width: 90%;
	}
}